* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, roboto;
}

/* nav area, cornhole design */

nav {
    display: block;
    width: 100%;
    height: 170px;
    text-align: center;
    background-color: rgb(230, 188, 137);
    border-bottom: 3px solid rgb(193, 110, 0);
    box-shadow: 0 2px 20px 1px rgb(193, 110, 0);
}

.navLinks, #top {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 2;
   margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  
}


.navLinks > a, #top {
        display: flex;
    width: 200px;
    margin: 10px;
    border-radius: 10px 30px 10px 30px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid rgb(40, 40, 68);
    background-image: linear-gradient(to right,  #6F9F6F 35%,  #5454A3 100%);
    color: rgb(40, 40, 68);
    text-decoration: none;

}



h1, .hole, .bean-bag {
    display: inline-block;
    position: relative;
    color: rgb(111, 159, 111);

}
h1 {
    font-size: 50px;
    top: 30px;
margin-bottom: 30px;
}


.bean-bag {
    right: 270px;
    width: 40px;
    top: 15px;
    height: 40px;
    background-color: rgb(84, 84, 163);
    border: 2px solid rgb(40, 40, 68);
    border-radius: 10px 8px 5px 25px;
}

.hole {

    top: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border: 4px solid rgb(193, 110, 0);
    border-radius: 32px;
}

/* main area, teams*/

 #playTitle {
    text-shadow:  rgb(193, 110, 0) 2px 4px 15px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgb(111, 159, 111);
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
    
}

/* Team choose */

.teamIdWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

    
}

#teamChoose {
    margin-top: 2em;
    text-align: center;  
     color:rgb(111, 159, 111);
     text-shadow:  rgb(193, 110, 0) 2px 4px 15px;

}


.bagSelect {
    display: flex;
    width: 6rem;
    height: 4rem;
    flex-wrap: wrap;
    border-radius: 5px;
    cursor: pointer;
}

.teamIdWrapper > div {
  margin: 2rem
}
   


 /* Red Team */

#red {
    background-color: #8b2626;
    box-shadow: #8b2626 5px 5px 5px;
     border: 2px solid rgb(99, 4, 4);
}

#blue-team > .pointsBtn > button.red-theme {
    background-color: #8b2626;
}

#red-theme:hover,
#red-theme:active,
#grey-theme:hover,
#grey-theme:active,
#blue-theme:hover,
#blue-theme:active,
#green-theme:hover,
#green-theme:active {
background-color:  rgb(193, 110, 0);
}

/* grey team */

#grey {
    background-color: rgb(75, 75, 75);
    box-shadow:rgb(75, 75, 75) 5px 5px 5px;
     border: 2px solid rgb(13, 13, 13);
}

#green-team > .pointsBtn > button.grey-theme {
    background-color: rgb(75, 75, 75);
}
/* blue */
#blue {
   background-color:  rgb(84, 84, 163);
box-shadow: rgb(84, 84, 163) 5px 5px 5px;
   border: 2px solid rgb(40, 40, 68);
}

/* green */

#green {
    background-color: rgb(111, 159, 111);
    box-shadow:  rgb(111, 159, 111) 5px 5px 5px;
    border: 2px solid  rgb(35, 75, 35);

}
/* loaded team content */


.teams-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}


.teamWrapperBlue {
    color: rgb(40, 40, 68);
}

.teamWrapperGreen {
    color: rgb(35, 75, 35);
}

.teamWrapperBlue, .teamWrapperGreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    
}


/* flex for blue/green team for responsive design */

#blue-team, #green-team  {
    flex: 40%;
    flex-grow: 1;
    width: 250px;
    height: auto;
    border-radius: 50px;
    background-color: rgb(230, 188, 137);
    border: 3px solid  rgb(193, 110, 0);
    box-shadow: rgb(193, 110, 0) 5px 10px 12px;
    margin: 20px;
}

#outcome {
    justify-content: center;
    align-items: center;  
    padding: 10px;
    
}

#tie {
    display: "flex";
    background-color: rgb(230, 188, 137);
    color: rgb(40, 40, 68);
    padding:"10px";
    font-size: 20px;
    font-weight: bold;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 6rem;
    height: 7rem;
    border-radius: 10px 30px 10px 30px;
    margin: 10px 5px 40px 5px;
    font-size: 1.3em;
    padding: 1em;
    font-weight: bold;
    touch-action: manipulation;
}



.pointsBtn{
   margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-flow: wrap;
      
}

.roundWrapper{
    display: flex;
   flex-wrap: wrap;

}

#roundOver {
    display: flex;
          background-color: rgb(40, 40, 68);
    border: 3px solid rgb(193, 110, 0); 
    color: white;
   flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
  
}

#roundDisplay {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color:  rgb(230, 188, 137);
  

}

#reset{
    width: 120px;
    height: 120px;
    display: flex;
    background-color: rgb(40, 40, 68);
    border: 3px solid rgb(193, 110, 0); 
    color: white;
    justify-content: "center";
    align-items: center;
    margin: 20px;
    padding: 15px;
}

/* transforms, keyframes and @media query */


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.4s ease;
}




#blue-team >.pointsBtn > button {
       background-color: rgb(84, 84, 163);
    border: 3px solid rgb(40, 40, 68);
    color: white;
}

 #blue-team >.pointsBtn > button.touch-active, #green-team >.pointsBtn > button.touch-active, #reset.touch-active {
    transform: scale(1, 1.2);
    background-color:  rgb(193, 110, 0);
    transition: transform 0.1s ease, background-color 0.1s ease;
    
}

#blue-team >.pointsBtn > button:active, #green-team >.pointsBtn > button.active {
    animation: shake 0.4s ease;

}


  #roundOver.touch-active {
    transform: scale(1, 1.2);
    background-color:  rgb(193, 110, 0);
    border-color:  rgb(40, 40, 68);
    transition: transform 0.1s ease, background-color 0.1s ease;
  }



#green-team >.pointsBtn > button {
      background-color: rgb(111, 159, 111);
    border: 3px solid  rgb(35, 75, 35);
    color: white;
}


#greenScore, #blueScore {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

@media (max-width: 800px) {
    #blue-team, #green-team {
      flex: 100%;
    }
    nav, h1 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  }

  @media (hover: hover) {
    #blue-team >.pointsBtn > button.touch-active,
    #blue-team >.pointsBtn > button:hover,
    #green-team >.pointsBtn > button.touch-active,
    #green-team >.pointsBtn > button:hover,
    #reset.touch-active, #reset:hover {
    background-color: rgba(193, 109, 0, 0.716);
    transform: scale(1, 1.2);

    transition: transform 0.1s ease, background-color 0.1s ease;
    }
    .teamIdWrapper > .bagSelect:hover,
    .teamIdWrapper > .bagSelect:active  {
        transform: scale(1, 1.3);
        transition: transform 0.1s ease
    }
   

    button:hover {
    cursor: pointer;
    }
    #blueLink:hover, #greenLink:hover, #rulesLink:hover, #top:hover {
        background-image: linear-gradient(90deg,  #5454A3 35%,  #6F9F6F 100%);
    }

    #roundOver.touch-active,
    #roundOver:hover {
    transform: scale(1, 1.2);
    background-color:  rgb(193, 110, 0);
    border-color:  rgb(40, 40, 68);
    transition: transform 0.3s ease, background-color 0.3s ease;
    }

  }

  @media (max-width: 800px) {
    #blue-team, #green-team {
      flex: 100%;
    }
    nav, h1 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  }



/* Rules section */

.rules-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    flex-wrap: wrap;
    color: rgb(84, 84, 163);
    

}



li, h3 {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
} 



 

/*footer*/

  footer  {
  
    margin-top: auto;
    width: 100%;
    height: 100px;
    background-color: rgb(230, 188, 137);
    border-top: solid 3px rgb(193, 110, 0);
    box-shadow: 0 2px 20px 1px rgb(193, 110, 0);
   
}

.footerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    color: rgb(40, 40, 68);
    font-size: 14px;
}

.logo{
    padding: 5px;
}

#codedex {
    border-radius: 25px;
    width: 34px;
    height: 34px;
}

